:host {
    .load {
        width: 100px
        height: 100px
        float: left

        svg {
            top: 0
            left: 0
            width: 100%
            height: 100%
            stroke-dasharray: 1%, 300%
            stroke-dashoffset: 0%
            stroke: #DDDDDD
            stroke-linecap:round
            fill: none
            display: none
            transform: rotate(-90deg)
        }
    }

    .showAnimate {
        -webkit-animation:animate 3s 0 linear infinite
    }

    @-webkit-keyframes animate
    {
        0%   {stroke-dasharray: 0%, 250%;stroke-dashoffset: 0%;}
        50%  {stroke-dasharray: 250%, 250%;stroke-dashoffset: 0%;}
        100% {stroke-dasharray: 250%, 250%;stroke-dashoffset: -250%;}
    }

    .logo {
        position: absolute
        width: 45px
        margin-left: 30px
        margin-top: 25px
    }

    .topbar {
        width: 100%
        height: 100px
        background: rgb(113,164,196)
        float: left
    }

    .title {
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 45px;
        line-height: 100px;
        color: white;
    }
    .version {
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 14px;
    }
}
